{% extends "base.html" %} 
{% block title %} Receipts - Accounts {%endblock title %}
{% block content %}
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li> <a href="{% url 'logout' %}">Logout</a> </li>
                <li> <a href="{% url 'create_receipt' %}">Create Receipt</a> </li>
                <li> <a href="{% url 'category_list' %}">Expense Categories</a> </li>
                <li> <a href="{% url 'create_category' %}">Create Category</a> </li>
                <li> <a href="{% url 'account_list' %}">Accounts</a> </li>
                <li> <a href="{% url 'create_account' %}">Create Account</a> </li>
            {% else %}
                <li> <a href="{% url 'signup' %}"></a> Sign Up </li>
                <li> <a href="{% url 'login' %}"></a> Login </li>
            {% endif %}
        </ul>
    </nav>
  </header>
<main>
  <h1>Accounts</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of receipts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for account in accounts %}
        <td>{{account.name}}</td>
        <td>{{account.number}}</td>
        <td>{{account.receipts.all|length}}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</main>
{% endblock content%}