{% extends "base.html" %} 
{% block title %} Receipts - Create {% endblock title %} 

{% block content %}
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li> <a href="{% url 'logout' %}">Logout</a> </li>
                <li> <a href="{% url 'create_receipt' %}">Create Receipt</a> </li>
                <li> <a href="{% url 'category_list' %}">Expense Categories</a> </li>
                <li> <a href="{% url 'create_category' %}">Create Category</a> </li>
                <li> <a href="{% url 'account_list' %}">Accounts</a> </li>
                <li> <a href="{% url 'create_account' %}">Create Account</a> </li>
            {% else %}
                <li> <a href="{% url 'signup' %}"></a> Sign Up </li>
                <li> <a href="{% url 'login' %}"></a> Login </li>
            {% endif %}
        </ul>
    </nav>
  </header>
<main>
  <div>
    <h1>Create Receipt</h1>
    <form method="post">
      {% csrf_token %} {{form.as_p}}
      <button>Create</button>
    </form>
  </div>
</main>
{% endblock content %}
