{% extends "base.html" %}
 
{% block title %} Receipts - Home {% endblock title %}

{% block content %}
<header>
  <nav>
      <ul>
          {% if user.is_authenticated %}
              <li> <a href="{% url 'logout' %}">Logout</a> </li>
              <li> <a href="{% url 'create_receipt' %}">Create Receipt</a> </li>
              <li> <a href="{% url 'category_list' %}">Expense Categories</a> </li>
              <li> <a href="{% url 'create_category' %}">Create Category</a> </li>
              <li> <a href="{% url 'account_list' %}">Accounts</a> </li>
              <li> <a href="{% url 'create_account' %}">Create Account</a> </li>
          {% else %}
              <li> <a href="{% url 'signup' %}"></a> Sign Up </li>
              <li> <a href="{% url 'login' %}"></a> Login </li>
          {% endif %}
      </ul>
  </nav>
</header>
<main>
  <h1>My Receipts</h1>
  <table>
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      {% for receipt in receipts %}
        <tr>
          <td>{{receipt.vendor}}</td>
          <td>{{receipt.total}}</td>
          <td>{{receipt.tax}}</td>
          <td>{{receipt.date|date:"m/d/y"}}</td>
          <td>{{receipt.category.name}}</td>
          <td>{{receipt.account.name}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
